html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
}

.main-header {
    background-color: #021d51;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    width: 100%;       
    box-sizing: border-box;
}


.logo {
    margin-right: 10px; 
}


.header-buttons {
    margin-right: auto;
}

.lien {
    color: white;
    text-decoration: none;
    margin-left: 20px; 
    font-size: 18px;
}

/* Bouton Connexion */
.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn-login:hover {
    background-color: #0056b3;
}

.main-footer {
    background-color: #001946;
    padding: 20px;
    margin-top: 50px;
    position: relative;
    min-height: 150px;
    width: 100%;       
    box-sizing: border-box; 
}


.txtFooter {
    color: white;
    text-decoration: underline; 
    line-height: 1.6; }



.titreFooter {
    color: #b0b0b0;
    text-decoration: none;     
    display: inline-block;     
    width: 100%;               
    font-weight: bold;
    margin-top: 15px;
    text-decoration-skip-ink: none; 
}

.logoFooter {
    position: absolute;
    bottom: 0;  
    right: 0;   
    
    height: 300px !important;
    opacity: 0.8;
}
#titreAcceuil {
    text-align: center;     
    width: fit-content;      
    margin-left: 20px;     
    
   
    font-weight: bold;
    font-size: 100px;
    line-height: 1.2;
}
#imageaccueil {
    display: block;    
    margin-left: 0;    
    margin-right: auto; 
    width: 300px;     
}